@import "tailwindcss/base";

@import "tailwindcss/components";

a {
  @apply text-teal-500 underline;
}

.prose a {
  @apply text-teal-500 underline !important;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  @apply text-cool-gray-500 !important;
}

@import "tailwindcss/utilities";

.page-header {
  @apply text-5xl text-gray-500 font-black;
}

@screen sm {
  .page-header {
    @apply text-5xl;
  }
}

a.anchor {
  top: 0.35em;
  left: -0.85em;
  position: absolute;

  @apply opacity-0 hover:opacity-100 transition-opacity duration-150;
}

html {
  scroll-padding-top: 2em;
}
